body{
	font-family: arial;
	color: pink;
}
h1{
font-family: arial;
font-size: 60pt;
color: #F20C6F;
background-color: #D3B1F5;
padding: 50px;
text-align: center;
}
.destaque{
	font-family: arial;
	font-style: 30pt;
	color: pink;
	background-color: black;
	padding: 15px;
	text-align: right;
}
.pequeno{
	font-size: : 10pt;
	background-color: red;
	text-align: left;
}